// recompile command (in git bash in plugins/nitin folder):
//sass.bat css/base.scss css/base.css

// @import "C:/UniServerZ/www/redcap/plugins/nitin/css/_normalize.scss";
@import "_normalize.scss";

// #choropleth {
	// height: 300px;
	// width: 400px;
// }

html {
	font-family: Verdana, Helvetica, sans-serif;
}

body {
	display: flex;
	align-items: left;
	padding: 0px 16%;
	flex-direction:column;
}

.statRow {
	margin: 4px 4px;
	font-size: 48px;
	display: flex;
	align-items: center;
}
.statBox {
	border: 1.5px solid #A8A8A8;
	border-radius: 5px;
	padding: 24px 24px;
	margin: 8px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	span:last-child {
		font-size: 16px;
	}
}
.statCircle {
	margin: 8px;
    display: inline-block;
    position: relative;
	span {
		position: absolute;
		font-size: 10px;
		font-weight: 600;
		color: #800026;
		left: 33%;
		top: 62%;
	}
}

//
.tableCollapsible {
	background-color: #AAA;
	text-align: left;
}
.tableCollapsible:hover {
	background-color: #CCC;
}
.tableCaret {
	width: 32px;
	height: 32px;
}
.rotated {
	transform: rotate(270deg);
	-ms-transform: rotate(270deg); /* IE 9 */
	-moz-transform: rotate(270deg); /* Firefox */
	-webkit-transform: rotate(270deg); /* Safari and Chrome */
	-o-transform: rotate(270deg); /* Opera */
}

#tableContainer {
	padding-bottom: 200px !important;
	width: 100%;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 8px;
	thead tr:first-child {
		background: #DDD;
		height: 32px;
	}
	tbody td {
		padding: 4px;
	}
	tbody tr:nth-child(even) td:nth-child(1n+2) {
		background: #DDD
	}
}

#choropleth {
	width: 100%;
	height: 800px;
	margin: 20px 0px;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}