// recompile command (in git bash in plugins/nitin folder):
//sass.bat css/base.scss css/base.css

// @import "C:/UniServerZ/www/redcap/plugins/nitin/css/_normalize.scss";
@import "_normalize.scss";

// #choropleth {
	// height: 300px;
	// width: 400px;
// }

html {
	font-family: Verdana, Helvetica, sans-serif;
}

.statRow {
	margin: 4px 4px;
	font-size: 48px;
	display: flex;
	align-items: center;
}
.statBox {
	border: 1.5px solid #A8A8A8;
	border-radius: 5px;
	padding: 24px 24px;
	margin: 8px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	span:last-child {
		font-size: 16px;
	}
}
.statCircle {
	margin: 8px;
    display: inline-block;
    position: relative;
	span {
		position: absolute;
		font-size: 10px;
		font-weight: 600;
		color: #6A6A6A;
		left: 33%;
		top: 62%;
	}
}

//
.columnNames {
	background-color: #DDD;
	color: #116;
	padding: 8px 0px 8px 170px;
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: 550;
	span:nth-child(1) {
		width: 394px;
	}
	span {
		display: inline-block;
		width: 148px;
		text-align: left;
	}
	
}
.tableCollapsible {
	background-color: #AAA;
	text-align: left;
}
.tableCollapsible:hover {
	background-color: #CCC;
}
.tableCaret {
	width: 32px;
	height: 32px;
}
.rotated {
	transform: rotate(270deg);
	-ms-transform: rotate(270deg); /* IE 9 */
	-moz-transform: rotate(270deg); /* Firefox */
	-webkit-transform: rotate(270deg); /* Safari and Chrome */
	-o-transform: rotate(270deg); /* Opera */
}

table {
	border-collapse: collapse;
	margin-left: 20px;
	margin-bottom: 8px;
}

thead tr {
	width: 80%;
	height: 32px;
}

th:nth-child(2), td:nth-child(2) {
	width: 400px;
	text-align: left;
}

th, td {
	width: 152px;
	padding: 0px;
}
